<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" >
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="icon" th:href="@{/image/favicon.ico}" type="image/x-icon"/>
    <style>
        @media screen and (max-width: 700px) {
            .title{
                font-size: 40px !important;
            }
        }
    </style>
</head>
<body>
    <div  style="text-align: center;margin-top: 200px;">
        <h1 class="title" style="font-size: 50px;">500,意料之外的错误..</h1>
        <div style="margin-top: 20px;">
            <a onclick="history.back()"  class="layui-btn layui-btn-normal">回退</a>
            <a th:href="@{/}" class="layui-btn layui-btn-normal">返回首页</a>
        </div>
    </div>
</body>
</html>