<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layui-admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" >
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
	<style>
	</style>
</head>

<body>
	<div id="drawer" style="display: none;overflow-y: auto;">
		<div  th:replace="commons/common::commonNav"></div>
	</div>
	<div class="layui-layout layui-layout-admin">
		<div  th:replace="commons/common::commonHeader"></div>
		<div class="layui-row">
			<div class="layui-hide-xs">
				<div  th:replace="commons/common::commonNav"></div>
				<div class="layui-body">
					<div  th:replace="commons/common-body::employeeAddBody"></div>
				</div>
				<div class="layui-footer">
					<!-- 底部固定区域 -->
					<div style="height: 40px;background-color: #fff;line-height: 40px;text-align: center;">
						© layui-admin by sdy2018
					</div>
				</div>
			</div>
			<div class="layui-hide-sm">
				<div  th:replace="commons/common-body::employeeAddBody"></div>
				<div class="layui-foot" style="height: 40px;background-color: #fff;line-height: 40px;text-align: center;">
					© layui-admin by sdy2018
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/layui/layui.js}"></script>
	<script>
	document.getElementById('drawer')
	//JavaScript代码区域
	layui.use('element', function() {
		let element = layui.element;

	});

	function handleMenuClick() {
		layui.use(['layer', 'jquery'], function() {
			let $ = layui.$ //重点处
				,
				layer = layui.layer;
			layer.open({
				type: 1,
				title: false,
				shadeClose: true,
				shade: 0.01,
				closeBtn: 0,
				anim: 3,
				resize: false,
				isOutAnim: false,
				offset: 'l',
				area: ['100px', '100%'],
				content: $('#drawer'), //iframe的url,
				success() {
					$('#drawer').css('display', 'inlineBlock');
				},
				end: function() {
					$('#drawer').css('display', 'none');
				}
			});
		});
	}
	layui.use(['form','jquery'], function() {
		let form = layui.form;
		let $=layui.$;
		$(document).keyup(function(event){
			if(event.keyCode ==13){
				$("#submit").trigger("click");
			}
		});
		console.log("---")
		//监听提交
		form.on('submit(submit)', function(data) {
			layer.msg('loading', {
				icon: 16,
				shade: 0.01,
				time: 0
			});
			// layer.msg(JSON.stringify(data.field));
			$.ajax({
				//请求方式
				type : "POST",
				//请求的媒体类型
				contentType: "application/x-www-form-urlencoded",
				//请求地址
				url : "/employee",
				//数据，json字符串
				data : data.field,
				//请求成功
				success : function(res) {
					if(res.code==200){
						window.location.href="/employee";
					}
					layer.msg(res.msg)
				},
				//请求失败，包含具体的错误信息
				error : function(e){
					layer.msg("网络错误")
					layer.close(layer.msg());
				}
			});
			return false;
		});
	});
	</script>
</body>

</html>