<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>layui-admin</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" >
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
	<link rel="icon" th:href="@{/image/favicon.ico}" type="image/x-icon"/>
	<style>
	</style>
</head>

<body>
	<div id="ok" style="display: none;">
		<div  th:replace="commons/common::commonNav"></div>
	</div>
	<div class="layui-layout layui-layout-admin">
		<div  th:replace="commons/common::commonHeader"></div>
		<div class="layui-row">
			<div class="layui-hide-xs">
				<div  th:replace="commons/common::commonNav"></div>
				<div class="layui-body">
					<!-- 内容主体区域 -->
					<div  th:replace="commons/common-body::indexBody"></div>
				</div>
				<div class="layui-footer">
					<!-- 底部固定区域 -->
					© layui.com - 底部固定区域
				</div>
			</div>
			<div class="layui-hide-sm">
				<div  th:replace="commons/common-body::indexBody"></div>
				<div class="foot">
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/layui/layui.js}"></script>
	<script>
	document.getElementById('ok')
	//JavaScript代码区域
	layui.use('element', function() {
		let element = layui.element;

	});

	function handleMenuClick() {
		layui.use(['layer', 'jquery'], function() {
			var $ = layui.$ //重点处
				,
				layer = layui.layer;
			layer.open({
				type: 1,
				title: false,
				shadeClose: true,
				shade: 0.01,
				closeBtn: 0,
				anim: 3,
				resize: false,
				isOutAnim: false,
				offset: 'l',
				area: ['100px', '100%'],
				content: $('#ok'), //iframe的url,
				success() {
					$('#ok').css('display', 'inlineBlock');
				},
				end: function() {
					$('#ok').css('display', 'none');
				}
			});
		});
	}
	</script>
</body>

</html>